
$navbar-height: 49.7px;
$sidebar-left-width: 163px;

// create a class to get navbar height and subtract from the height of the main class

.navbar {
  height: $navbar-height;
  padding: 0px;
  box-shadow: 0 1px 4px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.05), 0 0 1px rgba(0,0,0,.25);
  background-color: $bg-primary;
  
  .menutoggle-style {
    color: white;
    background-color: $btn-primary;
  }
}

.sidebar-style {
  color: white;
  background-color: $bg-primary;
}

.btn-adicionar {
  color: white;
  background-color: $btn-primary;
}

#hoverSidebar {
  cursor: pointer;
  ::after {
    // criar espaço invisivel após o elemento
    content: "";
    display: block;
    position: absolute;
    top: 38px; // Move o pseudo-elemento para cima pelo tamanho da lacuna
    width: 40px;
    left: 0;
    right: 0;
    height: 25px; // Define a altura do pseudo-elemento para o tamanho da lacuna
    // background-color: black; // Garante que o pseudo-elemento seja invisível
    cursor: initial;
  }
}


// Path: scss/dashboard.scss
.main {
  min-height: calc(100vh - $navbar-height);
  padding-top: -$navbar-height;
  // create two columns. one for the sidebar-left and one for the content=right
  display: grid;
  grid-template-columns: $sidebar-left-width 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content";


  .sidebar-left {
    grid-area: sidebar;
    background-color: #1D1D1D;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content-right {
    grid-area: content;
    padding: 20px;
    background-color: #fafafa;
  }

  &.hide-sidebar {
    grid-template-columns: 1fr;
  
    .sidebar-left {
      width: $sidebar-left-width;
      transform: translateX(-100%); // inicia fora da tela pela esquerda
      transition: transform 0.3s ease-out, visibility 0.3s ease-out, opacity 0.3s ease-out; // adiciona animação // adiciona animação
      visibility: hidden;
      &.visible {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
    .content-right {
      grid-area: 1 / 1 / 2 / 2; // Estica o content-right para ocupar todo o espaço disponível
    }
  }
  
  
  // create a media query to change the grid-template-columns to 1fr when the screen size is less than 768px
  // @media (max-width: 768px) {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: auto;
  //   grid-template-areas: "content";
  // }
  
}


