* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  nav {
    font-weight: 600;

    form {
      .btn-gratis {
        color: white!important;
        background-color: $btn-opacity!important;
        opacity: 1!important;
        transition: .3s;
        border: 2px solid $btn-opacity!important;
        
      font-weight: 600;
      }

      .btn-gratis:hover {
        background-color: $btn-primary!important;
      }

      .btn-acesso {
        font-weight: 600;
        background-color: transparent!important;
        border: 2px solid $btn-opacity!important;
        color: white!important;
        opacity: 1!important;
      }
      .btn-acesso:hover {
        background-color: $btn-primary!important;
      }
    }
  }

  .section-title {
    padding: 12vh 0 13vh 0;

    h2 {
    font-weight: 600;
    }
  }

  .bi-patch-check-fill {
    color: $success;
  }

  .txt-description {
    padding: 3rem 0;
    max-width: 50em;
    margin: auto;

    h3 {
      border-bottom: solid 2px $btn-primary;
      display: inline;
      line-height: 4rem!important;
      font-weight: 600;
    }
  }

  .video-container {
    width: 20%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    margin: auto;
  }

  .functions {
    .card {
      background-color: rgb(33, 38, 50);
      padding: 1rem 0 1.2rem;
      border-radius: 15px;
      width: 18rem;
      
      hr {
        border-color: transparent;
      }

      .colorful-lines {
        display: inline-block;
        width: 120px;
        border-bottom: solid 2px $btn-primary;
        animation: slide-in 1s ease-out;
        opacity: 1;
      }

      .card-body {
        height: 210px;
        margin: auto;
        max-width: 18em;
      }

      .card-images {
        width: 3em;
        margin: auto;
        padding: 1.5rem 0 .5rem;
      }
      
      .card-title {
        font-size: large;
        font-weight: bold;
        line-height: 1.8rem;
      }

      .card-text {
        font-weight: 300;
        max-width: 15rem;
        margin: auto;
      }
    }
  }

  section .icons-style {
    font-size: 50px;
  }
  
}
