* {
  box-sizing: border-box;
}

body {
  nav {
    
    .btn {
      padding: 0.3rem;
    }

    @media (max-width: 992px) {
      text-align: center;

      .nav-item .a-lines {
        background-image: none;
      }

      hr { margin: 2rem 0; }

      form {
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: center;

        a {
          margin-bottom: 1rem;
        }
      }
    }

    // linhas roxinhas no nav
    a {
      --border-width: 2px;
      --bottom-distance: 0px;
    
      text-decoration: none;
      font-size: large;
      font-weight: bold;
      display: inline-block;
      border-radius: 1px;
    }
  
    .a-lines {
      background-image: linear-gradient($btn-primary, $btn-primary);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition: background-size 0.3s;
    }

    .fromRight { background-position: 100% calc(100% - var(--bottom-distance)); }
  
    .fromRight:hover, .fromLeft:hover, .fromCenter:hover, .fromRight.active, .fromLeft.active, .fromCenter.active { background-size: 100% var(--border-width); }
    
    .fromLeft { background-position: 0 calc(100% - var(--bottom-distance)); }
    
    .fromCenter { background-position: 50% calc(100% - var(--bottom-distance)); }

    // btns de acesso e registro
    form {
      .bi-whatsapp {
        color: #0ac26c;
      }

      .btn-gratis {
        color: white!important;
        background-color: $btn-opacity!important;
        opacity: 1!important;
        transition: .3s;
        border: 2px solid $btn-opacity!important;
        font-weight: 600;
      }

      .btn-gratis:hover { background-color: $btn-primary!important; }

      .btn-acesso {
        font-weight: 600;
        background-color: transparent!important;
        border: 2px solid $btn-opacity!important;
        color: white!important;
        opacity: 1!important;
      }

      .btn-acesso:hover { background-color: $btn-primary!important; }
    }
  }

  // section do titulo
  #section-title { padding: 17vh 0 13vh 0; }

  // section da descrição
  #description {
    img {
      width: 21%;
    }

    .txt-description {
      padding: 3rem 0;
      max-width: 70em;
      margin: auto;
      
      .bi-patch-check-fill { color: $success; }

      @media (max-width: 768px) { text-align: center; }
    }
  }
  
  // section grid
  #functions {
    .card {
      padding: 1rem 0 1.2rem;
      border-radius: 15px;
      transition: .3s;
      user-select: none;

      .card-body {
        height: 14rem;
        margin: auto;
        max-width: 18em;
      }

      .card-images {
        width: 3em;
        margin: auto;
        padding: 1.5rem 0 .5rem;
      }
      
      .card-title { font-size: large; }

      .card-text { max-width: 15rem; }

      hr { border-color: transparent; }

      .colorful-lines {
        display: inline-block;
        width: 100px;
        border-bottom: solid 2px $btn-primary;
        animation: slide-in 1s ease-out;
        opacity: 1;
      }

      .btn {
        padding: 0.3rem;
      }
    }

    .card:hover { border: 1px solid $btn-opacity; }
  
    h4 { font-weight: 400; }
  }

  .purple-border {
    border-bottom: 2px solid $btn-primary;
    display: inline;
    padding-bottom: 10px;
  }

  #btn-experimentar {
    padding: 5rem 0;

    .btn { background-color: $btn-opacity; }

    .btn:hover { background-color: $btn-primary; }
  }

  footer {
    p { font-size: small; }

    .bi-telegram, .bi-globe2, .bi-whatsapp { color: white; }
  }

  .btn-cards { background-color: $btn-opacity; }

  .btn-cards:hover { background-color: $btn-primary; }


  
  
}


