*,::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  height: 100vh;

  #grid-container {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .image-container {
      background-color: $gray-900;
      display: flex;
      align-items: center;

      .bg {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          // z-index: -100;
          transform: translateX(-50%) translateY(-50%);
          opacity: .2;
          background-size: cover;
          transition: 1s opacity;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }

      .text-container {
        max-width: 500px;
        padding: 3rem;
        margin: auto;
        line-height: 1.5rem;
        font-size: 1.2rem;

        h2 {
          padding-bottom: 1.5rem;
          text-align: center;
          color: white;
          line-height: 2.4rem;
          font-weight: 900;
        }

        p {
          color: white;
          opacity: .7;
        }
      }
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 400px;

      img {
        margin-bottom: 20px;
        @media (min-width: 768px) {
          display: none;
        }
      }

      .form-content {
        width: 50%;

        a {
          --border-width: 2px;
          --bottom-distance: 0px;
        
          text-decoration: none;
          font-size: large;
          font-weight: bold;
          display: inline-block;
          border-radius: 1px;
        }

        .a-lines {
          background-image: linear-gradient($indigo, $indigo);
          background-size: 0% 2px;
          background-repeat: no-repeat;
          transition: background-size 0.3s;
        }

        .fromRight {
          background-position: 100% calc(100% - var(--bottom-distance));
        }

        .fromRight:hover, .fromLeft:hover, .fromCenter:hover, .fromRight.active, .fromLeft.active, .fromCenter.active {
          background-size: 100% var(--border-width);
        }
        
        .fromLeft {
          background-position: 0 calc(100% - var(--bottom-distance));
        }
        
        .fromCenter {
          background-position: 50% calc(100% - var(--bottom-distance));
        }

        .login-registro {
          padding-bottom: 3rem;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          @media (max-width: 768px) {
            text-align: center;
          }

          a:first-child {
            margin-right: 1.3rem;
          }
        }

        .form-control {
          border-radius: .5rem;
          border: none;
          background-color: $gray-200;
          padding: 13px;
        }

        .form-control::placeholder {
          color: $gray-500;
        }

        .form-control:focus, .form-control:hover {
          outline: 1px solid $gray-400;
        }

        .form-control:focus::placeholder {
          opacity: .7;
        }

        .form-group {
          margin-bottom: 2.5rem;

          .checkbox {
            display: flex;
            align-items: center;
            
            span {
              margin-left: 4px;
            }
          }
        }

        .control-label {
          margin-bottom: 5px;
        }

        .form-btns {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 10px;

          .btn {
            border-radius: .5rem;
            padding: 6px 1.3rem;
            font-size: 12px;
            transition: .3s ease-in-out;
            border: none;
            font-weight: bold;
          }

          .btn:hover {
            background-color: $indigo;
            box-shadow: 1px 2px 3px 0 $gray-500;
          }
        }
      }
    }
  }
}