@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// CAROL AQUI VOCÊ CUSTOMIZA AS VARIAVEIS:
// $body-bg: #000;
// $body-color: #111;
$font-family-sans-serif: 'Lato', sans-serif;
$purple: rgb(118, 72, 233);
$primary: #2e2116;
// ESSE CUSTOM É O SEU SCSS

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../scss/custom";


@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

